/* Desktop styles */
@media (min-width: 901px) {
  .gallery_container {
    flex-direction: row;
  }
  .gallery_carousel {
    width: 70%;
  }
  .gallery_thumbnails_showcase {
    display: grid;
    grid-auto-flow: row;
    height: 50svh;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .gallery_thumbnail,
  .gallery_thumbnail_selected {
    display: grid;
  }
}

/* M&T styles */
@media (max-width: 900px) {
  .gallery_container {
    flex-direction: column;
  }
  .gallery_carousel {
    width: 100%;
    height: 70%;
  }
  .gallery_thumbnails_showcase {
    height: 30%;
    width: 100%;
    display: flex;
  }
  .gallery_thumbnail,
  .gallery_thumbnail_selected {
    max-height: 100%;
    width: 100%;
  }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 900px) {}

/* Mobile styles */
@media (max-width: 600px) {
}

.gallery_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}

.gallery_carousel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.gallery_image {
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.gallery_carousel_btnleft,
.gallery_carousel_btnright {
  top: 0;
  height: 100%;
  width: 20%;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}
.gallery_carousel_btnleft {
  background-image: linear-gradient(to left, rgba(0,0,0,0), #292961);
  left: 0;
}
.gallery_carousel_btnright {
  background-image: linear-gradient(to right, rgba(0,0,0,0), #292961);
  right: 0;
}

.arrow_left,
.arrow_right {
  width: 20px;
  height: 20px;
  rotate: 45deg;
  border-style: solid;
  border-color: white;
}

.arrow_left {
  border-width: 0 0 2px 2px ;
}
.arrow_right {
  border-width: 2px 2px 0 0;
}

.gallery_thumbnails_showcase {
  background:rgb(41, 41, 97);
  overflow: auto;
  gap: 15px;
  padding: 2svh;
}

.gallery_thumbnail,
.gallery_thumbnail_selected {
  cursor: pointer;
  overflow: auto;
  background-size: cover;
  background-position: center;
  transition: border 0.2s;
}
.gallery_thumbnail {
  border: 6px solid transparent;

}
.gallery_thumbnail_selected {
  border: 6px solid #97107a;
}
