.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  letter-spacing: .8px;
}

.main_content {
  width: 70%;
  padding: 5svh;
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
}

.title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  margin-bottom: 3svh;
  text-align: center;
  border-bottom: 2px solid #97107a;
}

.description {
  max-width: 70%;
}

.details {
  display: flex;
  flex-direction: column;
  background: #20204b;
  width: 30%;
  padding: 3svh;
  gap: 5px;
}

.details_title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2svh;
}

.details_list {
  display: flex;
  flex-direction: column;
}
.details_list_item {
  margin-bottom: 5px;
}