/* Desktop styles */
@media (min-width: 901px) {
  .main {
    flex-direction: row;
    justify-content: center;
  }
  .main_content {
    width: 70%;
  }
  .details {
    width: 30%;
    flex-direction: column;
    padding: 3svh;
  }
  .details_title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 2svh;
  }
  .details_list {
    flex-direction: column;
  }
}
/* M&T styles */
@media (max-width: 900px) {
  .main {
    flex-direction: column-reverse;
    justify-content: start;
  }
  .main_content {
  width: 100%;
  }
  .description {
    max-width: 90%;
  }
  .details {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 1svh;
  }
  .details_title {
    width: 70%;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 1svh;
  }
  .details_title {
    text-align: center;
  }
  .details_list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/* Mobile styles */
@media (max-width: 600px) {
  .details_list {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.header {
  display: grid;
  border-bottom: 1px solid #6a6ab9;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 7vh;
  background: none;
  color: white;
}

.header_logo {
  height: 30px;
  width: auto;
}

.header_title {
  font-family: "Cormorant", serif;
  font-size: 20px;
}

.header_contact {
  height: 30px;
  width: 30px;
  transition: height 0.2s, width 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;

  &:hover {
    height: 35px;
    width: 35px;
  }
}

.main {
  display: flex;
  width: 100vw;
  height: 43vh;
  letter-spacing: .8px;
}

.main_content {
  padding: 5svh;
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: center;
}

.title {
  color: white;
  font-family: "Cormorant", serif;
  font-size: 40px;
  margin-bottom: 3svh;
  text-align: center;
  border-bottom: 2px solid #97107a;
}

.details {
  display: flex;
  background: #20204b;
  gap: 5px;
}

.details_title {
  color: white;
  border-bottom: .5px solid #6a6ab9;
}

.details_list {
  display: flex;
  list-style: none;
}
.details_list_item {
  padding-left: 20px;
  margin-bottom: 5px;
  position: relative;

  &:before {
    content: '\2765';
    position: absolute;
    left: 0;
  }
}