/* Desktop styles */
@media (min-width: 901px) {
  .about {
    width: 100%;
  }

  .about_profile_picture {
    height: 300px;
    width: 300px;
  }

  .about_text {
    width: 60%;
  }
}
/* M&T styles */
@media (max-width: 901px) {
  .main {
    flex-direction: column;
  }
  .about {
    margin-bottom: 5svh;
  }
  .about_profile_picture {
    height: 200px;
    width: 200px;
  }
  .about_text {
    width: 80%;
  }
}

.main {
  display: flex;
  height: 93vh;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_profile_picture {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3svh 0;
}

.about_title {
  width: 100%;
  color: white;
  font-family: "Cinzel", serif;
  font-size: 40px;
  margin-bottom: 3svh;
  text-align: center;
  border-bottom: 2px solid var(--pop);
}

.about_text {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: flex-start;
}
