/* Desktop styles */
@media (min-width: 901px) {
  .about {
    width: 70%;
  }

  .contact {
    width: 30%;
  }
  .about_profile_picture {
    height: 300px;
    width: 300px;
  }
}
/* M&T styles */
@media (max-width: 901px) {
  .main {
    flex-direction: column;
  }
  .about {
    margin-bottom: 5svh;
  }
  .about_profile_picture {
    height: 200px;
    width: 200px;
  }
}

.main {
  display: flex;
  height: 93vh;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_profile_picture {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3svh 0;
}

.about_title {
  width: 100%;
  color: white;
  font-family: "Cormorant", serif;
  font-size: 40px;
  margin-bottom: 3svh;
  text-align: center;
  border-bottom: 2px solid #97107a;
}

.about_text {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: start;
  width: 80%;
}

.contact {
  background: rgb(41, 41, 97);
  padding: 2svh;
  flex-grow: 1;
}

.contact_title {
  color: white;
  border-bottom: 0.5px solid #6a6ab9;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2svh;
}

.contact_p {
  margin-bottom: 2svh;
}
