/* Desktop styles */
@media (min-width: 901px) {
  .main_text {
    width: 70%;
  }

  .main_contact {
    width: 30%;
  }
}
/* M&T styles */
@media (max-width: 901px) {
  .main {
    flex-direction: column;
  }
}
.main {
  display: flex;
  height: 93vh;
}

.main_text,
.main_contact {
  padding: 2svh;
}

.main_text {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: start;
}

.main_contact {
  background:rgb(41, 41, 97);
}

.main_profile {
  height: 300px;
  width: auto;
  margin-bottom: 2svh;
}

.contact_title {
  color: white;
  border-bottom: .5px solid #6a6ab9;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2svh;
}

.contact_p {
  margin-bottom: 2svh;
}

.header {
  display: grid;
  border-bottom: 1px solid #6a6ab9;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 7vh;
  background: none;
  color: white;
}

.header_logo {
  height: 30px;
  width: auto;
}

.header_title {
  font-family: "Cormorant", serif;
  font-size: 20px;
}

.header_contact {
  height: 30px;
  width: 30px;
  transition: height 0.2s, width 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;

  &:hover {
    height: 35px;
    width: 35px;
  }
}
