.gallery_container {
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 30vw;
}

.gallery_carousel {
  background:#413775;
  display: flex;
  position: relative;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.gallery_image,
.gallery_thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.gallery_carousel_btnleft,
.gallery_carousel_btnright {
  top: 0;
  height: 100%;
  width: 20%;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}
.gallery_carousel_btnleft {
  background-image: linear-gradient(to left, rgba(0,0,0,0), #10141f);
  left: 0;
}

.arrow_left,
.arrow_right {
  width: 20px;
  height: 20px;
  rotate: 45deg;
  border-style: solid;
  border-color: white;
}

.arrow_left {
  border-width: 0 0 2px 2px ;
}
.arrow_right {
  border-width: 2px 2px 0 0;
}
.gallery_carousel_btnright {
  background-image: linear-gradient(to right, rgba(0,0,0,0), #10141f);
  right: 0;
}

.gallery_thumbnails_showcase {
  background: #302956;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  padding: 2svh;
  gap: 1svh;
  align-content: flex-start;
  justify-content: space-around;
}

.gallery_thumbnail {
  cursor: pointer;
  border: 1svh solid transparent;
  transition: border .15s ease-out;
}

.thumbnail_selected {
  border: 1svh solid rgba(200,200,200,0.5);
}