.gallery_container {
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gallery_carousel {
  background:#413775;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.gallery_thumbnails {
  background: #302956;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  padding: 2svh;
  gap: 1svh;
  align-content: flex-start;
  justify-content: space-around;
}