/* Big Desktop and above styles */
@media (min-width: 1401px) {
  .gallery {
    width: 90%;
  }
  .display_image {
    width: auto;
    height: 45svh;
  }
  .gallery_painting {
    height: 100%;
    width: 100%;
  }
}

/* Big Desktop styles and below */
@media (max-width: 1400px) {
  .display_image {
    width: 20svw;
    height: auto;
  }
  .gallery_painting {
    height: auto;
    width: 100%;
  }
}
/* Small Desktop and Below styles */
@media (max-width: 1200px) {
  .gallery {
    width: 100%;
  }
}
/* Small Desktop styles */
@media (min-width: 901px) and (max-width: 1200px) {
  .display_image {
    width: 30%;
    height: auto;
  }
}
/* Tablet & Mobile styles */
@media (max-width: 900px) {
  .display_image {
    width: 90%;
    height: auto;
  }
}
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  padding: 0;
  font-family: "Fauna One", serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner,
.main {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background:rgb(19, 19, 46);
  align-content: center;
  padding: 2svh;
  margin-bottom: 30px;
  /* filter: drop-shadow(0 1svh 1svh #000000); */
}

.banner_title,
.banner_subtitle {
  font-family: "Cinzel", serif;
}

.banner_title {
  color: white;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 2px;
}

.banner_subtitle {
  color: #c148a7;
  font-weight: 500;
  font-size: 30px;
}

.banner_about {
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 1px;
  text-decoration: underline;
  text-decoration-thickness: .5px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.gallery {
  height: 100%;
  gap: 2svh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.display_image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  &:hover {
    border: 2px solid var(--pop);
  }
  &:hover .overlay {
    opacity: 1;
  }
}

.link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 10svh;
  opacity: 0;
  background: rgba(23, 23, 34,0.8);
}
.overlay_title {
  color: white;
  font-weight: bold;
  margin: 1svh 0;
  font-size: large;
}