/* Desktop styles */
@media (min-width: 901px) {
}
/* Tablet styles */
@media (min-width: 601px) and (max-width: 900px) {
}
@media (min-width: 601px) {
}
/* Mobile styles */
@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 2svh 0 2svh;
  }
  .header_title {
    display: none;
  }
}

.header {
  background: var(--header);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 2svh 0 2svh;
  width: 100vw;
  min-height: 7vh;
  color: white;
}

.header_link {
  margin: 0 2svh;
  &:hover{
    text-decoration: underline;
    text-decoration-thickness: .5px;
  }
}